header {
    background-color: blue;
    text-align: right;
    padding: 2em;
}

header a {
    text-decoration: none;
    color: gray;
    transition: ease 250ms;
}

header a:hover {
    color: white;
}