header {
    background-color: darkblue;
    text-align: right;
    display: flex;
    align-items: center;
}


header a{
    color: lightgray;
    transition: ease 250ms;
    text-decoration: none;
    padding-inline: 2rem;
}

header > *{
    flex: 50%;
}

header a:hover {
    color: white;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}
.nav-bar ul > *{
    border: 1px solid violet;
    flex: 1;
    text-align: center;
    padding-block: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 5px solid darkblue;
    transition: ease 250ms;
}

.nav-bar ul > *:hover {
    border-bottom: 5px solid white;
}

section a {
    color: gray;
    text-decoration: none;
    transition: ease 250ms;
}

section a:hover {
    color: black;
}