
body {
    display: flex;
    justify-content: center;
    background: #333;
}

.posts-cont {
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 80vh;
    border-radius: 10px;
    margin: 2rem;
    overflow: auto;
}

.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;    
    padding-top: .6rem;
}

.post > * {
    padding-inline: 1rem;
}

.post:nth-child(odd) {
    background-color: whitesmoke;
}

.post-btm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: .6rem;
}

img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    overflow: hidden;
}

hr {
    border: .5px solid lightgray;
    border-radius: 5px;
    margin-block: .6rem;
}


